.layout {
  height: 100vh;
  width: 100vw;
  background: #070F18;
  opacity: 0.4;
  position: absolute;
}

.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.blockDisplay {
	display: block;
}

.hiddenDisplay {
	display: none;
}